[submodule "html5-css3/barbershop"]
	path = html5-css3/barbershop
	url = https://github.com/makenrosa/barbershop.git
[submodule "react/bytebank"]
	path = react/bytebank
	url = https://github.com/makenrosa/bytebank.git
[submodule "react/smart-bank"]
	path = react/smart-bank
	url = https://github.com/makenrosa/smart-bank.git
[submodule "react/cinetag"]
	path = react/cinetag
	url = https://github.com/makenrosa/cinetag.git
[submodule "react/organo"]
	path = react/organo
	url = https://github.com/makenrosa/organo.git
[submodule "react/organo-ts"]
	path = react/organo-ts
	url = https://github.com/makenrosa/organo-ts.git
[submodule "typescript/bank"]
	path = typescript/bank
	url = https://github.com/makenrosa/bank.git
[submodule "react/aluroni"]
	path = react/aluroni
	url = https://github.com/makenrosa/aluroni.git
[submodule "react/feira"]
	path = react/feira
	url = https://github.com/makenrosa/feira.git
[submodule "html5-css3/portfolio"]
	path = html5-css3/portfolio
	url = https://github.com/makenrosa/portfolio.git
[submodule "javascript/midi"]
	path = javascript/midi
	url = https://github.com/makenrosa/midi.git
[submodule "python/data-science-1"]
	path = python/data-science-1
	url = https://github.com/MakenRosa/data-science-1.git
[submodule "dart/dart-oo"]
	path = dart/dart-oo
	url = https://github.com/MakenRosa/dart-oo.git
[submodule "react/books"]
	path = react/mkn-books-ds
	url = https://github.com/makenrosa/mkn-books-ds
